<!-- <mat-form-field>
  <mat-label>Buscador</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ej. Camila"
    #input
  />
</mat-form-field> -->

<form
  [formGroup]="addUserForm"
  (ngSubmit)="addUser()"
  (ngSubmit)="userRegister()"
>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email:</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Elige un rol</mat-label>
      <mat-select formControlName="role">
        <mat-option [value]="role.cat" *ngFor="let role of roles">{{
          role.cat
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit">Agregar</button>
  </div>
  <!-- <label for="">Nombre: <input type="text" formControlName="name" /></label>
  <label for="">Email: <input type="text" formControlName="email" /></label>
  <select placeholder="role" formControlName="role">
    <option value="" selected>Elige un rol</option>
    <option *ngFor="let role of roles">
      {{ role.cat }}
    </option>
  </select> -->
</form>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Keyword Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol de Usuario</th>
      <td mat-cell *matCellDef="let row">{{ row.role }}</td>
    </ng-container>

    <!-- Actions Column -->
    <!-- <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let row">
        <button
          mat-icon-button
          class="actions-btn"
          aria-label="Boton de editar"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container> -->
    <!-- Actions Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Eliminar</th>
      <td mat-cell *matCellDef="let row">
        <button
          type="button"
          mat-icon-button
          class="actions-btn"
          aria-label="Boton de borrar"
          (click)="deleteUser(row)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 50]"
  >
  </mat-paginator>
</div>
